<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Directory List</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Directory</h1>
    <div>
      <ul><% @list.each do |file| %>
        <li>
          <a href="http://localhost:4567/<%= file.split(".txt").first %>"><%= file %></a>
        </li>
        <% end %>
      </ul>
      <p>
        <%if params[:sort] == "desc" %>
          <a href="http://localhost:4567/">Sort Ascending</a>
        <% else %>
          <a href="http://localhost:4567/?sort=desc">Sort Descending</a>
        <% end %>
      </p>
    </div>
  </body>
</html>